<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="clearHistory()">
        Limpiar
      </ion-button>
    </ion-buttons>
    <ion-title>Historial de Búsquedas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        Cerrar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of history" (click)="selectSearch(item)">
      {{ item }}
    </ion-item>
  </ion-list>
</ion-content>
