<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Platillos de comida</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="title-container">
      <h1>Platillos de comida</h1>
      <ion-icon (click)="openHistoryModal()" name="stopwatch-outline" mode="ios" class="custom-icon"></ion-icon>
    </div>

    <div id="search-container">
      <app-search [searchQueryHistory]="searchQueryFromHistory"></app-search>
    </div>
  </div>
</ion-content>
